{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^server-only$",
    "^client-only$",
    "^react$",
    "^next(/.*)?$",
    "^node:",
    "^@mui(/.*)?$",
    "^(@testing-library|vitest)(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/app/",
    "^@/components/",
    "^@/hooks/",
    "^@/lib/",
    "^@/tests/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
